
body{
    background-color: rgb(209, 209, 209);
}

h1 {
    text-align: center;
    color: rgb(36, 36, 80);
    font-size: 2rem;
    margin-bottom: 0.5em;
}
.login_cont {
    margin-top: 7rem;
    background-color: white;
    padding: 1em;
    border-radius: 0.2rem;
    border: 2px solid rgb(36, 36, 80);
}

.inputs{
    margin-bottom: 1em;
}
.inputs input, .inputs select{
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 2px solid rgb(36, 36, 80);
}
.button_log button{
    padding: 0.5em;
    border-radius: 0.5em;
    border: 2px solid rgb(36, 36, 80);
    color: rgb(36, 36, 80);
    font-size: 1.4em;
}
.button_log button:hover{
    background-color: rgb(36, 36, 80);
    color: white;

}
.msg_error {
    color:rgb(151, 2, 2);
    font-size: 0.9rem;
}
.reg_cont {
    margin-top: 7rem;
    margin-bottom: 7rem;
    background-color: white;
    padding: 1em;
    border-radius: 0.2rem;
    border: 2px solid rgb(36, 36, 80);
}
.button_reg button{
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 2px solid rgb(36, 36, 80);
    color: rgb(36, 36, 80);
    font-size: 1.2em;
}
.button_reg button:hover{
    background-color: rgb(36, 36, 80);
    color: white;
}
label {
    font-size: 1rem;
}
.checked {
    justify-content: flex-start;
}
.wrap {
    flex-wrap: wrap;
}
.chico input, .chico select{
    width: 60%;
}

.errorConn{
    display: none;
    color:brown;
    font-size: 2rem;
}
.bold{
    font-weight: bold;
}
.btn-volver{
    margin-top: 2em;
    padding: 0.2em;
    border-radius: 0.2em;
    border: 1px solid rgb(36, 36, 80);
    color: rgb(36, 36, 80);
    background-color: rgb(209, 209, 209);
    font-size: 0.8em;
}
.btn-volver button:hover{
    background-color: rgb(36, 36, 80);
    color: rgb(231, 229, 229);
}
.detalles{
    display: flex;
    flex-direction: column;
    align-items: center;
}